$menu_point_color: 			 white;
$menu_point_color_hover: #b7a56c;

header {	
	background-color: $black_color;
	width: 100%;

	nav {
		margin: 0 20px 0 20px;
	}

	@media screen and (max-width: 992px) {
		position: relative;

		.nav-item {
			margin-left: 0px;
		}
	}

	@media screen and (min-width: 992px) {
		position: fixed;
		z-index: 123123;

		.nav-item {
			margin-left: 30px;
		}
	}	

	.navbar-brand {
		color: $white_color;

		&:hover {
			color: $white_color;
		}
	}

	.nav-item {
		a {
			color: $menu_point_color;
			border: none;
			border-radius: 15px;
			transition: $transition;

			&:hover {
				color: $menu_point_color;
				background: $black_color;
			}
		}
	}

}